/* line 15, ../scss/_pseudo-elements-base.scss */
.ps,
.ps--b,
.ps--a {
  position: relative;
}

/* line 22, ../scss/_pseudo-elements-base.scss */
.ps:before,
.ps:after,
.ps--b:before,
.ps--a:after {
  content: '';
  display: block;
  position: absolute;
}

/* line 13, ../scss/_triangles.scss */
.tr {
  height: 0;
  width: 0;
  border: 0px 0px 0px 0px;
}

/* line 18, ../scss/_triangles.scss */
.tr--b:before,
.tr--a:after {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border: 0px 0px 0px 0px;
}
