/*
   Pseudo Elements Base.
*/

@mixin ps{
      content:'';
      display:block;
      position:absolute;
}

/* Default  */
.ps{
    position:relative;
    &:before,
    &:after{
	@include ps;
    }
}

/* Using a :before element only.  */
.ps--b{
    @include ps;
}

/* Using an :after element only.  */
.ps--a{
    @include ps;
}
