/*
   Pseudo Elements Base.
*/

@mixin ps{
      content:'';
      display:block;
      position:absolute;
}

/* Default  */
.ps{
    position:relative;
    &:before,
    &:after{
	@include ps;
    }
  
    /* Using a :before element only.  */
    &--b:before{
	@include ps;
    }

    /* Using an :after element only.  */
    &--a:after{
	@include ps;
    }
}

