/*
      -----------------------------
      |                           |
      |  You know, that           |
      |  little speech triangle.  |
      |                           |
      -----------------------------
          \/
*/

@mixin triangle{
    @extend .ps;
    height:0;
    width:0;
    border-style:solid;
    border-color:#000 #666 #ccc #fff
    border-width:10px;
}

.triangle--after:after{
    @include triangle;
}

.triangle--before:before{
    @include triangle;
}
